.content{
	&__short-post{
		margin-top: 20px;
		margin-bottom: 50px;
	}
	&__long-post{
		margin-top: 20px;
	}
	&__arrow{
		display: inline-block;
		position: relative;
		&:before, &:after{
			content: '';
			display: block;
			position: absolute;
			height: 1px;
			width: 6px;
			background-color: $acent-cl;
			right: -15px;
		}
		&:before{
			transform: rotate(45deg);
			top: -6px;

		}
		&:after{
			transform: rotate(-45deg);
			top: -2px;
		}

	}
	&__btn{
		width: 100%;
		height: 40px;
		background-color: $acent-cl;
		color: $acent-txt-cl;
		text-align: center;
		font-weight: 400;
		font-size: em(16px);
		line-height: 38px;
		text-decoration: none;
		transition: all ease 0.4s;
		&:hover{
			background-color: rgba($acent-cl, 0.8);
			
		}
		& .content__arrow{
			&:before, &:after{
				background-color: $acent-txt-cl;
			}
		}
	}
	&__posts{
		margin-top: 20px;
		margin-bottom: 50px;
	}
	&__post-card{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-gap: 30px;
		margin-bottom: 20px;
		@include max-screen(1200px){
			grid-template-columns: 1fr;
		}
	}
	&__small-bar{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 30px;
		@include max-screen(991px){
			grid-template-columns: 1fr;
		}
	}
	&__bilders-banks{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@include max-screen(991px){
			flex-direction: column;
		}
	}
	&__articles{

	}
	&__info-block{
		margin-top: 45px;
	}
	&__adversting{
		grid-column-start: 1;
		grid-column-end: 3;
		text-align: center;
		background-color: $color-gray4;
		margin-top: 40px;
		margin-bottom: 40px;
		@include max-screen(1200px){
			grid-column-end: 2;
		}
	}
	&__4frgrid{
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-column-gap: 10px;
	}
	&__3frgrid-sm{
		@include screen(480px, 991px){
			grid-template-columns: repeat(3,1fr);
		}
	}
	&__1frgrid-xs{
		@include max-screen(480px){
			grid-template-columns:  1fr;
			justify-content: center;
		}
	}
	
}

.small-bar{
	&__content{
		padding-top: 20px;
	}
}


.bilders-banks, .articles{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

}


.info-block{
	font-weight: 400;
	font-size: em(16px);
}

