.short-post{
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: em(16px);
	@include max-screen(480px){
		flex-direction: column;
	} 
	&--md-fs{
		@include max-screen(991px){
			justify-content: flex-start;
		}
		
	}
	&--xs-row{
		@include max-screen(480px){
			flex-direction: row;
		}
	}
	&__poster{
		margin-right: 30px;
		@include max-screen(480px){
			margin-right: 0;
		}
		& img{
			width: 170px;
			object-fit: cover;
			@include max-screen(480px){
				width: 100%;
				max-height: 240px;
			}
		}
		&--small{
			margin-right: 20px;
			& img{
				width: 100px;
				object-fit: cover;
			}
		}
		&--midi-small{
			margin-right: 30px;	
			& img{
				width: 70px;
				object-fit: cover;	
			}
		}
		&--extra-small{
			margin-right: 15px;
			& img{
				width: 50px;
				object-fit: cover;
			}
		}
		&--sm-dn{
			@include max-screen(767px){
				display: none;
			}
		}
	}
	&__title{
		margin-top: 0;
		margin-bottom: 15px;
		font-weight: 400;
		font-size: em(16px);
		@include screen(768px, 991px){
			margin-bottom: 5px;
		}
		@include max-screen(480px){
			margin-top: 20px;
		}
		&--without-mb{
			margin-bottom: 0;
		}
	}
	&__date{
		font-size: em(14px);
		color: $placeholder-cl;
		margin-bottom: 15px;
		@include screen(768px, 991px){
			margin-bottom: 5px;
		}
		@include max-screen(480px){
			margin-top: 14px;
		}
	}
	&__text{
		font-size: em(14px);
		@include max-screen(480px){
			margin-top: 14px;
		}
	}
	&__link{
		width: 100px;
		font-size: em(14px);
		line-height: 24px;
		color: $acent-cl;
		text-decoration: none;
		transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
		user-select: none;
		position: relative;	
		&:before, &:after{
			content: '';
			position: absolute;	
			transition: inherit;
			z-index: -1;
			top: 0;
			width: 0;
			height: 100%;
		}
		&:before{
			right: 0;
			border: 1px solid $acent-cl;
			border-left: 0;
			border-right: 0;
		}
		&:after{
			left: 0;
		}
		&:hover {
			color: $acent-txt-cl;
			transition-delay: .6s;
			text-align: center;
			&:before,&:after{
				width: 100%;
			}
			&:before {
				transition-delay: 0s;
				
			}
			&:after {
				background: $acent-cl;
				transition-delay: .4s;
			}
		}
	}
	&__string{
		margin: 0;
		font-weight: 400;
		font-size: em(16px);
		line-height: 18px;
		&--shadow{
			font-size: em(14px);
			color: $color-gray5;
		}
	}
	&__head-link{
		cursor: pointer;
		text-decoration: none;
		color: $main-txt-cl;
		&:hover, &:focus{
			color: $color-turq;
		}
	}
	
}