block content
	main.main-section
		div.container
			div.main-section__wrapper
				block content
					include ../asets/sidebar.pug
				div.main-section__content
					h2.base-title.base-title--type2.base-title--black.main-section__title.main-section__title--with-bb.main-section__title--mb Открыта продажа квартир в новом районе ЖК "Город-событие Лайково"
					div.news.news__wrapper
						div.news__poster
							img.news__img(src='../../images/news-2.png')
						p.news__text.news__text--db В квартале "Green" упор будет сделан на экологию: благодаря близости леса здесь всегда будет чистый воздух; в районе установят контейнеры для раздельного сбора мусора и для приема батареек.
						p.news__text.news__text--db На рынок выведен 12-этажный дом №63, который относится к типу "Суперкомфорт". В нем расположено 156 квартир метражом от 31 до 87 кв. м. Покупателям доступно несколько форматов жилья, в том числе эколофты, хайфлеты, ситихаусы, двухуровневые квартиры, квартиры с отдельным входом, террасами и квартиры-офисы. На этапе открытия продаж стоимость недвижимости начинается от 2.7 млн рублей. Дом запланирован к сдаче в мае 2019 года, а пока он находится на этапе подготовки котлована.
						div.news__poster
							img.news__img(src='../../images/news-3.png')
						p.news__text.news__text--db Напомним, жилой комплекс бизнес-класса "Город-событие "Лайково" возводится на участке площадью 117 га в Одинцовском районе Московской области. Территорию поделят на пять районов, которые застроят домами нескольких типов, от таунхаусов до многоэтажек с квартирами 50 различных планировок. В новостройке предусмотрены парки, фермерский рынок, детские сады, школа, медицинское учреждение и академия бадминтона. Для жителей откроются магазины, рестораны и кафе. Оставлять автомобили граждане смогут на территории подземных паркингов и гостевых автостоянок.
						p.news__text.news__text--db К реализации проекта жилого комплекса "Город-событие "Лайково" несколько лет назад приступила печально известная компания "СУ-155", ныне банкрот. Определенное время ЖК числился в перечне проблемных объектов. Потом за его завершение взялась компания "Урбан Групп". Первую очередь проекта застройщик планирует ввести в эксплуатацию в 2018 году, последнюю – в 2023.
						p.news__text.news__text--db.news__text--shadow 28 Июля 2017, 08:50 