include ../mixins/post-card

append vars
	- postCards = [{key: '1', href: '/', poster:{posterClass: '', img: '../../images/card-1.png', title: 'ЖК "The MID" (МИД)'}, location: {classList: '',adress: 'Красногорский р-он',  metro: 'Митино', subType:'bus',time: '25 минут'}, builder:{release:'4 кв 2011 — 4 кв 2018', builder:'Затонское'}, floors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}]}, {key: '1', href: '/', poster:{posterClass: '', img: '../../images/card-1.png', title: 'ЖК "The MID" (МИД)'}, location: {classList: '',adress: 'Красногорский р-он',  metro: 'Митино', subType:'bus',time: '25 минут'}, builder:{release:'4 кв 2011 — 4 кв 2018', builder:'Затонское'}, floors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}]},{key: '1', href: '/', poster:{posterClass: '', img: '../../images/card-1.png', title: 'ЖК "The MID" (МИД)'}, location: {classList: '',adress: 'Красногорский р-он',  metro: 'Митино', subType:'bus',time: '25 минут'}, builder:{release:'4 кв 2011 — 4 кв 2018', builder:'Затонское'}, floors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}]},{key: '1', href: '/', poster:{posterClass: '', img: '../../images/card-1.png', title: 'ЖК "The MID" (МИД)'}, location: {classList: '',adress: 'Красногорский р-он',  metro: 'Митино', subType:'bus',time: '25 минут'}, builder:{release:'4 кв 2011 — 4 кв 2018', builder:'Затонское'}, floors: [{type: 'Студии', price: 'от 1 200 000 руб.'}, {type: '1 ком. квартиры', price: 'от 1 600 000 руб.'}, {type: '2 ком. квартиры',price: 'от 2 000 000 руб.'}, {type:'3 ком. квартиры' ,price:'нет в продаже'}, {type:'4 ком. квартиры' ,price:'нет в продаже'}, {type:'5 ком. квартиры' ,price:'нет в продаже'}]}]


block content
main.main-section
	div.container
		div.main-section__wrapper
			block content
				include ../asets/sidebar.pug

							
			div.main-section__content
				h2.base-title.base-title--type2.base-title--black.main-section__title.main-section__title--with-bb Результаты поиска
				div.content__map
					div.content__posts
						
							
							
						div.content__post-card
							- var a = 0
							while a < postCards.length
								- var flag = (a%2==0);
								- var flag1 = (a!=0);
								if flag
									if flag1
										div.content__adversting Место для рекламы
								each item in postCards
									+post-card(item.href, item.poster, false, item.location, item.builder, item.floors)
								- a++;