extends pug/base

append vars
	- html.classList.push('page-index')


block content
	include pug/asets/top-line.pug
	include pug/asets/small-header.pug
	include pug/search-results/main.pug
	include pug/asets/footer.pug