// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-black2: #231f20;
$color-white: #fff;
$color-white2: #fefefe;
$color-gray: #f1f1f1;
$color-gray2: #bfbfbf;
$color-gray3: #e8e8e8;
$color-gray4: #9d9d9d;
$color-gray5: #bfbfbf;
$color-gray6: #9f9f9f;
$color-red: #d92b2c;
$color-green: #4dbe52;
$color-salad: #a8d92d;
$color-blue: #2d84d7;
$color-blue2: #2c75c4;
$color-blue3: #0085db;
$color-turq: #4dc6f4;
$color-brown: #85412e;
$color-orange: #f07025;
$color-violet: #89339e;
$color-puple: #cc0066;
$color-donatello: #b0bfe7;
$color-yellow: #fbc81e;

// FONTS
$main-font: OpenSans;
$sub-font: MeryadPro;

//SIZES
$base-font-size: 18px;

//themes
$body-bg: $color-white;
$alter-bg: $color-gray;
$form-bg: $color-black;

$main-txt-cl: $color-black;
$acent-txt-cl: $color-white;
$acent-title: $color-white2;
$shadow-txt-cl: $color-gray2;
$placeholder-cl: $color-gray5;
$darc-shadow-txt-cl: $color-gray4;


$acent-cl: $color-blue;
$mobile-menu-cl: $color-blue3;

$main-form-gap: $color-gray3;